* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe6c4;
}

.mainDiv {
    margin: 5rem auto;
    width: 10rem;
    height: auto;
    border-radius: 5px;
    background: rgb(241, 51, 80);
    background: linear-gradient(
        162deg,
        rgba(241, 51, 80, 1) 0%,
        rgba(255, 185, 210, 1) 100%
    );
}
